.photo
{
    display: flex;
    align-content: center;
    justify-content: center;
}
.shrink
{
    text-align: center;
}
h5{
    font-size: 1.25rem;
}
.card-text
{
    font-size: 1rem;
}
.signcard
{
    margin: 20px auto;
    opacity: 0.8;
}
.center
{
    display: flex;
    flex-grow: none;
    justify-content: center;
    margin: 0 auto;
}
.city
{
    background-image: url('https://i.imgur.com/THHrxmn.jpg');
    background-size: cover;
    height: 100vh;
}
.signcard:hover{
    opacity:1;
}
.backdrop
{
    background: whitesmoke;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 300px)
{
    .backdrop{
        margin-left: 20%;
    }
}