<div class ="col-12">
  <nav class="nav nav-pills text-white">
      <a class="text-sm-center nav-link text-white" routerLink="/bandmaster/bandeditprofile">Edit Profile</a>
      <a class="text-sm-center nav-link text-white" routerLink="/bandmaster/bandhome">Band Home</a>
      <a class="text-sm-center nav-link text-white" routerLink="/home" (click)="clearStorage()">Logout</a>
  </nav>
</div>
<div class="city">
  <div class="title">My Profile Info</div>
  <!-- <div class="row">
    <div class="col-sm-4">
        <div class="picCenter">
            <img class="profilepic" src="{{imageURL}}" alt="Band Image goes here.">
        </div>
    </div>
    <div class="col-sm-8">
        <span class="subtitle">Band Name</span>
        <span class="subtitlevalue">{{band.bandName}}</span>
        <span class="subtitle4">Genre</span>
        <span class="subtitlevalue4">{{band.genre}}</span>
        <span class="subtitle6">Social Media</span>
        <span class="subtitlevalue6">{{band.socialMedia}}</span>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <span class="subtitle1">Bio</span>
        <span class="subtitlevalue1">{{band.bio}}</span>
      </div>
      <div class="col-sm-6">
        <span class="subtitle2">Debut Date</span>
        <span class="subtitlevalue2">{{band.debutDate}}</span>
        <br>
        <span class="subtitle3">Email</span>
        <span class="subtitlevalue3">{{band.email}}</span>
        <br>
        <span class="subtitle5">Hourly Rate</span>
        <span class="subtitlevalue5">{{band.hourlyRate}}</span>
      </div> -->
    <div class="gigbox">
      <img class="img-fluid bandpic" src="{{imageURL}}" alt="{{band.bandName}}">
      <div class="content">
          Name: {{band.bandName}}<br>
          Genre: {{band.genre}}<br>
          Social Media: <a href="http://{{band.socialMedia}}" target="_blank">{{band.socialMedia}}</a><br>
          Bio: {{band.bio}}<br>
          Debut Date: {{band.debutDate | date: 'MMM d yyyy'}}<br>
          Email: {{band.email}}<br>
          Hourly Rate: {{band.hourlyRate}}
      </div> 
    </div>
</div>
