
<div class ="col-12">     
    <nav class="nav nav-pills text-white">
      <a class=" text-sm-center nav-link text-white  active bg-danger" href="#">Home</a>
      <a class=" text-sm-center nav-link text-white" href="#">Login</a>
      <a class=" text-sm-center nav-link text-white" href="#">Signup</a>
    </nav>
  </div>
        <div class ="row">
            <div class ="col">
             
              <div class="cont">
                  
                  <div class="banner">
                      <div class="content">
                      
                          Where bands meet promotion.
                          Reach your ... 
                      </div>
                          <div id ="title" >Crescendo</div>
                          </div>
                      <!-- <img src="assets\Untitled design.png" class="img-fluid"> -->
                  
                 
                <div class ="video">
                  <video id="video1" width ="100%" height ="100%" src="assets\Keira Knightley - A Step You Cant Take Back.mp4" autoplay loop="loop">
                    
                  </video>
                  </div>
               
              </div>
            </div>
        </div>
        
       