
        <div class ="col">
            
                    <button class="btn btn-outline cred" type="button" style="background-color:red;"> Login</button>
                    <button class="btn btn-sm btn-outline-secondary cred" type="button">Signup</button>
        </div>
        <div class ="row">
            <div class ="col">
              <div class ="video">
                  <video id="video1" width ="100%" height ="100%" src="assets\y2mate.com - official_clip_from_la_la_land_john_legend_start_a_fire_M6Vfj1TjMvU_1080p.mp4" autoplay loop="loop"></video>
              </div>
            </div>
        </div>
        
       