#submit, .center
{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    
}
/* #submit
{
    min-width: 80px;
    max-width: 100px;
} */
.city
{
    background-image: url('https://www.losgallardosleisure.es/events/eventimg/Eagles%206.jpg');
    background-size: cover;
    background-position: fixed;
    
}
/* #email, #password, .btn, label, #confirmpassword, #name, #bio, #genre, #date, #promotion, #rate
{
    font-size: 7px;

} */
.box
{
    background-color: rgba(0,0,0,0.7);
    margin-top: 20px;
    padding: 10px;

}
label
{
    padding: 5px;
    margin-bottom: 0;
    color:white;
    font-size: 1rem;
}
.btn{
    padding:5px;
}
#formgroup,#loginform
{
    margin-top:0;
}
#signup
{
    display: flex;
}

.spaceAround {
    margin-top: 20px;
    margin-bottom: 20px;
}