#submit, .center
{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 7px;
    text-align: center;
    
}
#submit
{
    min-width: 80px;
    max-width: 100px;
}
.city
{
    background-image: url('https://i.imgur.com/THHrxmn.jpg');
    background-size: cover;
    
}
#email, #password, .btn, label
{
    font-size: 7px;
    max-width: 200px;
    min-width:150px;

}
.box
{
    background-color: rgba(0,0,0,0.7);
    margin-top: 20px;
    padding: 10px;

}
label
{
    padding: 5px;
    margin-bottom: 0;
    color:white;
}
.btn{
    padding:5px;
}
#formgroup,#loginform
{
    margin-top:0;
}