<div class ="col-12">     
  <nav class="nav nav-pills text-white">
    <a class=" text-sm-center nav-link text-white active bg-danger" href="#">Logout</a>
    <a class=" text-sm-center nav-link text-white" href="#">Endorse a Gig</a>
    <a class=" text-sm-center nav-link text-white" href="#">Manage a Gig</a>
  </nav>
</div>
<div class="city">
  <div class="gigtable cont">
      <table class="pushdown">
        <tr>
        <th class="tablehead" colspan="6">Your Gigs</th> 
        </tr>
        <tr>
          <th>Security</th>
          <th>Gig Name</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>Max Capacity</th>
        </tr>
        <tr *ngFor="let item of gigs">
          <td>{{item.security}}</td>
          <td>{{item.gigname}}</td>
          <td>{{item.location}}</td>
          <td>{{item.starttime}}</td>
          <td>{{item.maxcapacity}}</td>
        </tr>
      </table>
  </div>
</div>
<router-outlet></router-outlet>
