<div class ="col-12">
    <nav class="nav nav-pills text-white">
        <a class="text-sm-center nav-link text-white" routerLink="/bandmaster/bandprofile">Back</a>
        <a class="text-sm-center nav-link text-white" routerLink="/bandmaster/bandhome">Band Home</a>
        <a class="text-sm-center nav-link text-white" routerLink="/home">Logout</a>
    </nav>
  </div>
  <div class="city">
    <div class="gigtable cont">
        <table class="pushdown">
          <tr>
          <th class="tablehead" colspan="7">My Profile Info</th> 
          </tr>
          <tr>
            <th>Band Name</th>
            <th>Bio</th>
            <th>Debut Date</th>
            <th>Email</th>
            <th>Genre</th>
            <th>Hourly Rate</th>
            <th>Social Media</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
    </div>
  </div>