.shrink
{
   
    padding: 5px;
    border-radius: 5px;
}

.col
{
    padding-bottom: 0;
}
video.fullscreen { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    transform: translate(-50%, -50%);
    
  }
  .banner
{
    opacity: 0.8;
    width: 100%;
    position: absolute;
    z-index: 1;

}
.banner img{
    width: 100%;
}
.cont
{
    position: relative;
}

.content{
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: earwig;
    animation-name: example1;
    animation-duration: 12s;
    opacity: 0;
}
.title
{
    opacity: 0.8;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: earwig;
    animation-name: example;
    animation-duration: 4s;
    font-size: 3rem;
    color: red;
    text-shadow: 20px 0px 20px  black ;
}

@media screen and (min-width: 768px) {
    .title {
      font-size: 8rem;
      animation-name: example2;
    }
    @keyframes example2 {
        0% {
            opacity: 0;
            font-size: 0rem;
            transform: rotate(0deg);
            color:white;
          }
          50% {
              opacity: 0.8;
              font-size: 8rem;
            
          }
          100%
          {
            opacity: 0.8;
            font-size: 8rem;
            transform: rotate(360deg);
            color: white;
            
          }
      }
  }

@keyframes example1 {
    0% {
        opacity: 0.8;
      }
    50% {
          opacity: 0.8;
      }
    100% {
        opacity: 0;
    }
  }

  @keyframes example {
    0% {
        opacity: 0;
        font-size: 0rem;
        transform: rotate(0deg);
        color:white;
      }
      50% {
          opacity: 0.8;
          font-size: 10rem;
        
      }
      100%
      {
        opacity: 0.8;
          font-size: 3rem;
        transform: rotate(360deg);
        color: white;
        
      }
  }

  .gigtable {
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 220px;
  }

  .tablehead {
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
  }

  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.541);
  }
