<div class ="col-12">     
  <nav class="nav nav-pills text-white">
    <a class=" text-sm-center nav-link text-white  active bg-danger" routerLink="/home" (click)="clearStorage()">Home</a>
    <a class=" text-sm-center nav-link text-white" routerLink="/promoterlogin">Login</a>
    <a class=" text-sm-center nav-link text-white" routerLink="/signup">Signup</a>
  </nav>
</div>
  <div class ="row">
    <div class ="col">
      <div class="cont">
        <div class="banner">
          <div class="content">
            Where bands meet promotion.
            Reach your ... 
          </div>
          <div class ="title" >Crescendo</div>
              <div class="tbcontainer" *ngFor="let index of gigs; let i of index">
                  <img class ="img-fluid" src="assets\kisspng-persona-5-dialog-box-dialogue-computer-icons-art-5b1ff3598a6291.2793164815288205695668.png">
                <div class="centered">
                  <!-- <div *ngFor="let index of gigs; let i of index"> -->
                    <br><br>
                      <span class="gname">{{i[3]}}</span><br>
                      Location: {{i[4]}}<br>
                      Max Capacity: {{i[5]}}<br>
                      Start Time: {{i[6] | date : 'MMMM d HH:mma EEEE'}}
                  <!-- </div> -->
                </div>
          <!-- <div class="gigtable">
              <table class="table table-dark col-sm-9">
                <thead>
                  <tr scope="row">
                  <th scope="col" class="tablehead" colspan="4">Gigs</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row">
                    <th>Gig Name</th>
                    <th>Location</th>
                    <th>Max Capacity</th>
                    <th>Start Time</th>
                  </tr>
                  <tr scope="row" *ngFor="let index of gigs; let i of index">
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[6]}}</td>
                  </tr>
                </tbody>
              </table>
          </div> -->
        </div>
        
      
</div>
    </div>
  </div>
</div>
<div class ="video">
    <video id="video1" width ="100%" height ="100%" src="assets\Keira Knightley - A Step You Cant Take Back.mp4" autoplay loop="loop"></video>
    </div>


            
          
      

        
       