<div class ="col-12">
  <nav class="nav nav-pills text-white">
      <a class=" text-sm-center nav-link text-white" routerLink="/home" (click)="clearStorage()">Logout</a>
      <a class=" text-sm-center nav-link text-white" routerLink="/bandmaster/bandprofile">My Profile</a>
  </nav>
</div>
<div class="city">
  <div class="gigtable">
      <table class="pushdown table table-dark col-sm-9">
        <thead>
          <tr scope="row">
            <th scope="col" class="tablehead" colspan="5">Upcoming Shows</th> 
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <th scope="col">Security</th>
            <th scope="col">Gig Name</th>
            <th scope="col">Location</th>
            <th scope="col">Start Time</th>
            <th scope="col">Promoter</th>
          </tr>
          <tr scope="row" *ngFor="let gig of assignedGigs">
            <td>{{gig.security}}</td>
            <td>{{gig.gigName}}</td>
            <td>{{gig.location}}</td>
            <td>{{gig.startTime}}</td>
            <td>{{gig.promoter_id}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="gigtable cont">
      <table class="pushdown table table-dark col-sm-9">
        <thead>
          <tr>
          <th class="tablehead" colspan="6">Gig Invites</th> 
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <th scope="col">Security</th>
            <th scope="col">Gig Name</th>
            <th scope="col">Location</th>
            <th scope="col">Start Time</th>
            <th scope="col">Promoter</th>
            <th scope="col">Play this Gig?</th>
          </tr>
          <tr scope="row" *ngFor="let gig of invitedGigs">
            <td>{{gig.security}}</td>
            <td>{{gig.gigName}}</td>
            <td>{{gig.location}}</td>
            <td>{{gig.startTime}}</td>
            <td>{{gig.promoter_id}}</td>
            <td><nav id="Accept" class="nav nav-pills text-white">
                  <button type="button" class="btn btn-light">Yes</button>
                  <button type="button" class="btn btn-dark">No</button>
                </nav>
            </td>
          </tr>
        </tbody> 
      </table>
  </div>
</div>


