#submit, .center
{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    
}
/* #submit
{
    min-width: 80px;
    max-width: 100px;
} */
.city
{
    background-image: url('https://i.ytimg.com/vi/hnqd4gh--9o/maxresdefault.jpg');
    background-size: cover;
    height: 100vh;
    
}
.extend
{
    margin-top: 10%;
}
/* #email, #password, .btn, label
{
    max-width: 200px;
    min-width:150px;

} */
.box
{
    background-color: rgba(0,0,0,0.7);
    margin-top: 20px;
    padding: 10px;

}
label
{
    padding: 5px;
    margin-bottom: 0;
    color:white;
    font-size: 1rem;
}
.btn{
    padding:5px;
}
#formgroup,#loginform
{
    margin-top:0;
}