<div class ="col-12">     
  <nav class="nav nav-pills text-white">
    <a class="text-sm-center nav-link text-white active bg-danger" routerLink="/home" (click)="clearStorage()">Logout</a>
    <a class="text-sm-center nav-link text-white" routerLink="/promotermaster/promoterendorse">Endorse a Gig</a>
    <a class="text-sm-center nav-link text-white" routerLink="/promotermaster/promotermanage">Manage a Gig</a>
  </nav>
</div>
<div class="city">
  <div class="gigtable">
    <table class="pushdown table table-dark col-sm-9">
      <thead>
          <tr scope="row">
            <th scope="col" class="tablehead" colspan="7">Your Gigs</th> 
        </tr>
      </thead>
        <tbody>
          <tr scope="row">
            <th scope="col">Security</th>
            <th scope="col">Gig Name</th>
            <th scope="col">Location</th>
            <th scope="col">Start Time</th>
            <th scope="col">Max Capacity</th>
            <th scope="col">Invite Bands</th>
            <th scope="col">Featured Bands</th>
          </tr>
          <tr scope="row" *ngFor="let item of gigs">
            <td>{{item.security}}</td>
            <td><button type="button" class="btn btn-light" (click)="openGig(gig, item.id)">{{item.gigName}}</button></td>
            <td>{{item.location}}</td>
            <td>{{item.startTime}}</td>
            <td>{{item.maxCapacity}}</td>
            <td><button type="button" class="btn btn-light" data-toggle="modal" (click)="openBand(band,item.id)">Invite Bands</button></td>
            <td>{{item.closed}}</td>
            <td><button type="button" class="btn btn-light" data-toggle="modal" (click)="openPlaying(playing,item.id)">Bands</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #band>
        <div class="modal-content modal-lg">
            <div class="modal-header">
              <h5 class="modal-title">Invite Bands</h5>
              <button type="button" class="close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <table class="table table-dark modal-body">
                    <thead>
                      <tr>
                        <th scope="col">Band Name</th>
                        <th scope="col">Hourly Rate</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Social Media</th>
                        <th scope="col">Invite</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of allBands">
                        <td>{{item.bandName}}</td>
                        <td>{{item.hourlyRate}}</td>
                        <td>{{item.genre}}</td>
                        <td>{{item.socialMedia}}</td>
                        <td>
                          <button type="button" class="btn btn-light" [disabled]="checkBand(item.id)" (click)="inviteBands(this.gigId, item.id)">Invite</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Close</button>
            </div>
          </div>
    </ng-template>

    <ng-template #playing>
      <div class="modal-content modal-lg">
          <div class="modal-header">
            <h5 class="modal-title">Bands</h5>
            <button type="button" class="close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div *ngFor="let item of this.promoterHomeService.$bandsPlaying">
                {{item.bandName}}
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Close</button>
          </div>
        </div>
  </ng-template>
          
  <router-outlet></router-outlet>
  
  <!-- Modal -->
  <ng-template #gig>
          <div class="modal-content gigmodal">
        <div class="modal-header">
          <h5 class="modal-title">Manage Gig</h5>
          <button type="button" class="close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row justify-content-center">
              <div class="col-8 col-xl-8 col-l-6">
                <div class="box">
                  <img class = "img-fluid" src="https://fontmeme.com/permalink/190516/b9aab5b6386c6ecd4349855ee9e1c7ab.png" id="gig">
                  <form id ="gigregistrationform">
                    <div class="form-group">
                        <label for="NameInput">Gig Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Gig Name" name="name" [(ngModel)]="gigName">
                    </div>
                    <div class="form-group">
                        <label for="TimeInput">Gig Date and Time</label>
                        <input type="datetime-local" class="form-control" id="time" name="time" [(ngModel)]="startTime">
                    </div>
                    <div class="form-group">
                        <label for="LocationInput">Location</label>
                        <input type="text" class="form-control" id="location" name="location" [(ngModel)]="location">
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio"  value="true" name="securityoptions" [(ngModel)]="Security">
                      <label class="form-check-label" for="secure">With Security</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" value="false" name="securityoptions" [(ngModel)]="Security">
                      <label class="form-check-label" for="unsecure">Without Security</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="CapacityInput">Capacity</label>
                        <input type="number" class="form-control" id="capacity" name="capacity" min="0" max="10000000000" step="1" [(ngModel)]="maxCapacity">
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" value="false" name="availability" [(ngModel)]="closed">
                      <label class="form-check-label" for="open">Open</label>
                      <input class="form-check-input" type="radio" value="true" name="availability" [(ngModel)]="closed">
                      <label class="form-check-label" for="closed">Closed</label>
                    </div> 
                  </form>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" id="cancel" (click)="modalRef.hide()" >Cancel</button>
          <button type="submit" class="btn btn-primary" id="Update" (click)="modalRef.hide()" (click)="submit()">Update</button>
        </div>
        </div>
</ng-template>
<!-- <div class="tbcontainer">
<div class="centered">Hiiiii!</div>
      <img class ="img-fluid" src="assets\kisspng-persona-5-dialog-box-dialogue-computer-icons-art-5b1ff3598a6291.2793164815288205695668.png">
</div> -->
