.gigtable {
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    
  }

  .pushdown {
    margin-top: 120px;
  }

  .tablehead {
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
  }

  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.753);
  }

  .city
{
    background-image: url('https://i.ytimg.com/vi/hnqd4gh--9o/maxresdefault.jpg');
    background-size: cover;
    background-position: fixed;
    min-height: 100vh;
    
}

.box
{
    background-color: rgba(0,0,0,0.7);
    margin-top: 20px;
    padding: 10px;

}
label
{
    padding: 5px;
    margin-bottom: 0;
    color:white;
    font-size: 1rem;
}
.btn{
    padding: 10px 30px;
    
}
#Accept {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

.tbcontainer
{
  top: 10%;
  text-align: center;
  color: white;
}
.centered {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.modal-content {
  background-color: rgb(73, 73, 73);
}
.modal-title {
  color: rgb(255, 255, 255);
}
.title
{
    color: white;
    width: 100%;
    text-align: center;
    font-family: earwig;
    font-size: 3rem;
    text-shadow: 20px 0px 20px  black ;
}
.gigbox
{
  color: white;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem auto;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
}
button{
  margin-right: 1rem;
}
