<div class ="col-12">     
    <nav class="nav nav-pills text-white">
      <a class=" text-sm-center nav-link text-white" href="#">Home</a>
      <a class=" text-sm-center nav-link text-white" href="#">Login</a>
      <a class=" text-sm-center nav-link text-white active bg-danger" href="#">Signup</a>
    </nav>
  </div>
<div class="city d-flex justify-content-center">
    <div class="row">
        <div class ="col">
          <div class="backdrop">
              <div class="card bg-dark text-white signcard">
                  <img class="card-img-top photo" src="https://cdn.shopify.com/s/files/1/0965/5518/products/Drumtech-Roadie_grande_51dd7f7c-4cb1-4a6c-8986-c5c5092ad4d8.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Promoter Signup</h5>
                    <p class="card-text">Invite local bands to play on your gigs!</p>
                  </div>
                </div>
          </div>
            
              
      </div>
      <div class="col">
          <div class="backdrop">
              <div class="card bg-dark text-white signcard">
                  <img class="card-img-top photo" src="https://media0.giphy.com/media/xTiTnnnWvRXTeXx3wc/giphy.gif" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Band Signup</h5>
                    <p class="card-text">Get your music out there and get noticed by gig promoters!</p>
                  </div>
                </div>
          </div>
      </div>
    </div>
</div>


      
     

