.gigtable {
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    
  }

  .pushdown {
    margin-top: 300px;
  }

  .tablehead {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: rgb(212, 7, 7);
  }

  .city
{
    background-image: url('https://i.ytimg.com/vi/wrpgVH-AqY4/maxresdefault.jpg');
    background-size: cover;
    height: 100vh;
    
}

.box
{
    background-color: rgba(0,0,0,0.7);
    margin-top: 20px;
    padding: 10px;

}
label
{
    padding: 5px;
    margin-bottom: 0;
    color:white;
    font-size: 1rem;
}
.btn{
    padding: 10px 30px;
    
}
#Accept {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}
.title
{
    opacity: 0.8;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: earwig;
    font-size: 8rem;
    color: red;
    text-shadow: 20px 0px 20px  black ;
}
.subtitle
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 20px 0px 20px  black;
    margin-top: 200px;
    margin-left: 50px;
}
.subtitlevalue
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px  rgb(255, 0, 0);
    margin-top: 300px;
    margin-left: 50px;
}
.subtitle1
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 0, 0);
    text-shadow: 20px 0px 20px  black;
    margin-top: 200px;
    margin-left: 200px;
}
.subtitlevalue1
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-top: 320px;
    background-color: white;
    padding: 20px;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    margin-left: 5%;
}
.subtitle2
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 20px 0px 20px  black;
    margin-top: 200px;
    margin-left: 50px;
    
}
.subtitlevalue2
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px  rgb(255, 0, 0);
    margin-top: 300px;
    margin-left: 50px;
    
}
.subtitle3
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 20px 0px 20px  black;
    margin-top: 400px;
    margin-left: 50px;
}
.subtitlevalue3
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px  rgb(255, 0, 0);
    margin-top: 500px;
    margin-left: 50px;
}
.subtitle4
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 20px 0px 20px  black;
    margin-top: 400px;
    margin-left: 50px;
    
}
.subtitlevalue4
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px  rgb(255, 0, 0);
    margin-top: 500px;
    margin-left: 50px;
    
}
.subtitle5
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 20px 0px 20px  black;
    margin-top: 600px;
    margin-left: 50px;
}
.subtitlevalue5
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px  rgb(255, 0, 0);
    margin-top: 700px;
    margin-left: 50px;
}
.subtitle6
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 20px 0px 20px  black;
    margin-top: 600px;
    margin-left: 50px;
    
}
.subtitlevalue6
{
    opacity: 0.8;
    text-align: left;
    position: absolute;
    font-family: earwig;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px  rgb(255, 0, 0);
    margin-top: 700px;
    margin-left: 50px;
    
}