<div class ="col-12">     
    <nav class="nav nav-pills text-white">
      <a class=" text-sm-center nav-link text-white" href="#">Home</a>
      <a class=" text-sm-center nav-link text-white" href="#">Login</a>
      <a class=" text-sm-center nav-link text-white  active bg-danger" href="#">Signup</a>
    </nav>
  </div>
<div class="city">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-xs-11 col-xl-4 col-l-6 extend">
        <div class="box">
          <img class = "img-fluid" src="https://fontmeme.com/permalink/190516/da27f0f25c019943e41a4780d5b1c7b2.png" id="signup">
            <form id ="promoterregistrationform">
                <div class="form-group">
                    <label for="EmailInput">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="PasswordInput">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label for="PasswordInput">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" name="confirmpassword">
                </div>
                <div class="form-group">
                    <label for="NameInput">Business Name</label>
                    <input type="name" class="form-control" id="name" placeholder="Band Name" name="name">
                </div>
                <div class="form-group">
                    <label for="WebsiteInput">Website (Please provide a link to your business website)</label>
                    <input type="url" class="form-control" id="website" name="website">
                </div>
            <div class="center"><button type="submit" class="btn btn-primary bg-danger" id="submit">Submit</button></div>
                
            </form>
        </div>
         
      </div>
    </div>
  
  </div>
  
