<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-conifguration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://postgres-revature.c7e12je6wzoa.us-east-2.rds.amazonaws.com/postgres</property>
		<property name="hibernate.connection.username">abslanlaverde</property>
		<property name="hibernate.connection.password">xavier.tr1f0rce#</property>
		
		<!-- When true, hibernate will print generated sql commands to the console
		useful for development and debugging -->
		
		<property name="show_sql">true</property>
		
		<!-- connection pooling size -->
		<!-- what is a connection pool? -->
		<!-- creating a new connection is expensive.  it's much more efficient to leave connections open
		and use existing connections when you need to interact with the database.  when abstracted
		this process is called pooling.  when we need to interact with the database, we take a connection from 
		the pool, and when we're done with it, it gets returned to the pool.  the period of time that we
		'borrow' that connection is called a Session. -->
		<property name="hibernate.connection.pool_size">1</property>
		
		<!-- hibernate dialect -->
		<!-- hibernate can work with many different database languages, so it's necessary to defin
		what language we intend to use, so it can generate appropriate SQL for that dialect. -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- configure how hibernate should conduct ddl operations. -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		
	</session-factory>
</hibernate-conifguration>

